# IntelliJ
/.idea/
*.iml

# Lock
*.lock
*.lck

# Maven
/target

# rexedia
/src/test/resources/format/apply/*.mp4
/src/test/resources/format/apply/*.png
!/src/test/resources/format/apply/cover.png
!/src/test/resources/format/apply/oversized.png

*.log
*crash-log-*.txt
/src/test/resources/main/
